@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 100, 100, 100;
  --background-end-rgb: 50, 50, 50;
}

@media (prefers-color-scheme: dark) {
  
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      #7BC9FF
    )
    #7BC9FF;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
